type bkmgrd, domain;
type bkmgrd_exec, file_type, exec_type;

init_daemon_domain(bkmgrd)

allow bkmgrd self:capability setuid;
allow bkmgrd radio_device:chr_file rw_file_perms;
allow bkmgrd radio_data_file:dir rw_dir_perms;
allow bkmgrd radio_data_file:file create_file_perms;

file_type_auto_trans(bkmgrd, system_data_file, radio_data_file);
