allow gpsd gps_data_file:dir rw_dir_perms;
allow gpsd gps_data_file:file create_file_perms;
allow gpsd gps_data_file:fifo_file create_file_perms;

allow gpsd system_data_file:dir rw_dir_perms;

file_type_auto_trans(gpsd, system_data_file, gps_data_file);

# Honor LD_PRELOAD
allow init gpsd:process noatsecure;

wakelock_use(gpsd)
