# chmod in init.capri_ss_baffin.rc (for bkmgrd)
allow init block_device:blk_file setattr;
allow init radio_device:blk_file setattr;

allow init serial_device:chr_file { write ioctl };
allow init radio_block_device:blk_file { write setattr };
allow init root_block_device:blk_file setattr;
allow init sysfs:lnk_file setattr;
allow init tmpfs:lnk_file create;

# insmod
allow init self:capability sys_module; # TODO: want sys_ptrace too
