# chmod in init.capri_ss_baffin.rc (for bkmgrd)
allow init block_device:blk_file setattr;
allow init radio_device:blk_file setattr;

# insmod
allow init self:capability sys_module; # TODO: want sys_ptrace too
