type vclmk, domain;
type vclmk_exec, file_type, exec_type;

init_daemon_domain(vclmk)

allow vclmk gpu_device:chr_file rw_file_perms;
allow vclmk video_device:chr_file rw_file_perms;

# Access app data in /proc/pid
allow vclmk appdomain:dir r_dir_perms;
allow vclmk appdomain:file r_file_perms;

# Don't allow other types of access
neverallow vclmk { domain -appdomain -vclmk }:dir search;

# Kill apps
allow vclmk appdomain:process { sigkill sigstop signal };
