import init.bcm281x5.usb.rc
import init.log.rc

on early-init
    loglevel 9

    write /proc/bcm2835_mdec 0

    mkdir /efs 0771 radio system

on init
    # Vibetonz
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 shell shell

    # Videocore
    chmod 0660 /proc/vc-dnfo
    write /proc/vc-dnfo "width 480"
    write /proc/vc-dnfo "height 800"
    write /proc/vc-dnfo "scale 0"
    write /proc/vc-dnfo "swidth 480"
    write /proc/vc-dnfo "sheight 800"
    write /proc/vc-dnfo "bpp 32"
    write /proc/vc-dnfo "layer 1"
    write /proc/vc-dnfo "xdpi 184.727"
    write /proc/vc-dnfo "ydpi 184.727"
    chmod 0660 /proc/vc-omx
    write /proc/vc-omx "color 2"
    chmod 0660 /proc/vc-hnfo
    write /proc/vc-hnfo "resolution 0"
    setprop brcm.graphics.async_errors true

    mkdir /tmp
    mount tmpfs tmpfs /tmp
    chmod 1775 /tmp

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    export SECONDARY_STORAGE /storage/sdcard1
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root

    symlink /efs /factory

    symlink /dev/block/mmcblk0p11 /dev/block/param

    # We will create our own ril-daemon service with different perm and sockets
    stop ril-daemon

on post-fs-data
    # we will remap this as /storage/sdcard with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

    #for wifi
    mkdir /efs/wifi 0775 radio system
    mkdir /efs/bluetooth 0775 radio system
    mkdir /efs/imei 0775 radio system
    mkdir /data/misc/wifi 0775 wifi system
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0775 dhcp dhcp
    chown system system /efs/wifi/.mac.info
    chmod 0664 /efs/wifi/.mac.info
    chown system system /efs/imei/.nvmac.info
    chmod 0664 /efs/imei/.nvmac.info

    # for TRP/TIS
    write /data/.psm.info 1
    chown system root /data/.psm.info
    chmod 0660 /data/.psm.info

    # for ASE application
    mkdir /data/brcm
    mkdir /data/brcm/ase
    mkdir /data/brcm/ase/extras
    mkdir /data/brcm/ase/scripts
    chmod 0775 /data/brcm
    chmod 0775 /data/brcm/ase
    chmod 0775 /data/brcm/ase/extras
    chmod 0775 /data/brcm/ase/scripts
    mkdir /data/brcm/utils
    chmod 0775 /data/brcm/utils

    chmod 0660 /proc/vc
    chmod 0660 /proc/vc/display
    chmod 0660 /proc/vc/display/vchiq_control
    write /proc/vc/display/vchiq_control "earlysuspctrl "
    write /proc/vc/display/vchiq_control "autosuspend "

    chown system system /sys/class/backlight/panel/brightness
    chmod 0660 /sys/class/backlight/panel/brightness

    chown system system /sys/class/backlight/touchkey-led/brightness
    chmod 0660 /sys/class/backlight/touchkey-led/brightness

on boot
    # SISO-ANDR_PERF :: START Changing scheduler to noop during boot
    write /sys/block/mmcblk0/queue/scheduler noop
    # SISO-ANDR_PERF :: END

    # Permissions for bluetooth
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown bluetooth net_bt_stack /dev/ttyS2
    chmod 0600 /dev/ttyS2
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

    # <Sensors>
    # Input Events
    chown system radio /sys/class/input/input2/enable
    chown system radio /sys/class/input/input2/poll_delay
    chown system radio /sys/class/input/input3/enable
    chown system radio /sys/class/input/input3/poll_delay
    chown system radio /sys/class/input/input4/enable
    chown system radio /sys/class/input/input4/poll_delay
    chown system radio /sys/class/input/input5/enable
    chown system radio /sys/class/input/input5/poll_delay
    chown system radio /sys/class/input/input6/enable
    chown system radio /sys/class/input/input6/poll_delay
    chown system radio /sys/class/input/input7/enable
    chown system radio /sys/class/input/input7/poll_delay
    chown system radio /sys/class/input/input8/enable
    chown system radio /sys/class/input/input8/poll_delay
    chown system radio /sys/class/input/input9/enable
    chown system radio /sys/class/input/input9/poll_delay
    # Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    # Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal2
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/prox_offset_pass
    chown system radio /sys/class/sensors/proximity_sensor/prox_thresh
    # Light_sensor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name
    # Gyro_sensor
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/temperature
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system radio /sys/class/sensors/gyro_sensor/selftest_dps
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/name

    # accelerometer
    chown system input /sys/class/input/input8/acc_enable
    chown system input /sys/class/input/input8/acc_delay
    chown system input /sys/class/input/input8/gyro_enable
    chown system input /sys/class/input/input8/gyro_delay
    chown system input /sys/class/input/input8/self_test
    chown system input /sys/class/input/input8/accel_cal_open

    # geomagnetic
    chown system input /sys/class/input/input9/enable
    chown system input /sys/class/input/input9/filter_enable
    chown system input /sys/class/input/input9/filter_len
    chown system input /sys/class/input/input9/filter_threshold
    chown system input /sys/class/input/input9/filter_noise
    chown system input /sys/class/input/input9/delay
    chown system input /sys/class/input/input9/wake
    chown system input /sys/class/input/input9/data
    chown system input /sys/class/input/input9/status
    chown system input /sys/class/input/input9/position

    chmod 0660 /sys/class/input/input9/enable
    chmod 0660 /sys/class/input/input9/filter_enable
    chmod 0660 /sys/class/input/input9/filter_len
    chmod 0660 /sys/class/input/input9/filter_threshold
    chmod 0660 /sys/class/input/input9/filter_noise
    chmod 0660 /sys/class/input/input9/delay
    chmod 0660 /sys/class/input/input9/wake
    chmod 0660 /sys/class/input/input9/data
    chmod 0660 /sys/class/input/input9/status
    chmod 0660 /sys/class/input/input9/position

    # geomagnetic_raw
    chown system input /sys/class/input/input10/threshold
    chown system input /sys/class/input/input10/distortion
    chown system input /sys/class/input/input10/shape
    chown compass input /sys/class/input/input10/offsets
    chown compass input /sys/class/input/input10/static_matrix
    chown compass input /sys/class/input/input10/dynamic_matrix
    chown compass input /sys/class/input/input10/ellipsoid_mode
    write /sys/class/input/input10/distortion "100 15 13"

    chmod 0660 /sys/class/input/input10/threshold
    chmod 0660 /sys/class/input/input10/distortion
    chmod 0660 /sys/class/input/input10/shape
    chmod 0660 /sys/class/input/input10/offsets
    chmod 0660 /sys/class/input/input10/static_matrix
    chmod 0660 /sys/class/input/input10/dynamic_matrix
    chmod 0660 /sys/class/input/input10/ellipsoid_mode

    # orientation
    chown system input /sys/class/input/input11/enable
    chown system input /sys/class/input/input11/delay
    chown system input /sys/class/input/input11/wake
    chown system input /sys/class/input/input11/status
    chown system input /sys/class/input/input11/data

    chmod 0660 /sys/class/input/input11/enable
    chmod 0660 /sys/class/input/input11/delay
    chmod 0660 /sys/class/input/input11/wake
    chmod 0660 /sys/class/input/input11/status
    chmod 0660 /sys/class/input/input11/data

    # Vibetonz
    chmod 0660 /dev/tspdrv
    chown root shell /dev/tspdrv

# boost ARM clock to 1200MHz
#    write /sys/devices/platform/bcmpmu_core/rgltr "1300,1,1,csr_uc"
#    write /sys/kernel/debug/clock/proc_ccu/arm_clk/rate 1200000000
#    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    # required so RIL can open kernel RPC drivers
    chmod 0660 /dev/bcm_rpc
    chmod 0660 /dev/bcm_irpc
    chown radio radio /dev/bcm_rpc
    chown radio radio /dev/bcm_irpc

    chmod 0660 /dev/bcm_atc
    chown shell system /dev/bcm_atc
    mkdir /data/atx
    chown system system /data/atx
    chmod 0771 /data/atx
    chown system system /dev/bcm_log
    chmod 0660 /dev/bcm_log
    chown system system /dev/bcm_audio_log
    chmod 0660 /dev/bcm_audio_log
    chown system system /dev/ttyGS0
    chown system system /dev/ttyS0
    chmod 0666 /dev/ttyS0

    chown system system /proc/bcm_fuse_net_config
    chown system system /dev/block/mmcblk0
    chmod 0660 /dev/block/mmcblk0
    chown system system /dev/mem

    # 1280x720 TV for now
    setprop brcm.hwc.external-res 1280x720

    # security driver
    chmod 0660 /dev/bcm_security
    chown radio root /dev/bcm_security
    mkdir /data/sec 0770
    chown radio root /data/sec

    # Video Telephony
    chmod 0666 /dev/bcm_vsp

    # fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 10
    setprop status.battery.level_raw  100
    setprop status.battery.level_scale 10

# boost ARM clock to 1100MHz
#    echo 1300,1,1,csr_uc > /sys/devices/platform/bcmpmu_core/rgltr
#    write /sys/devices/platform/bcmpmu_core/rgltr "1300,1,1,csr_uc"
#    write /sys/devices/platform/reg-virt-consumer.1/min_microvolts 1320000
#    write /sys/kernel/debug/clock/proc_ccu/arm_clk/rate 1100000000

    # phone
    setprop ro.telephony.call_ring.multiple 0

    # create data/gps for GPS demon
    mkdir /data/gps 0770 gps system
    chown gps system /data/gps
    chmod 0770 /data/gps

    #for GPS files
    write /sys/class/gpio/export 99
    chown gps system /sys/class/gpio/gpio99/value
    chown gps system /sys/class/gpio/gpio99/direction
    write /sys/class/gpio/gpio99/direction out
    write /sys/class/gpio/gpio99/value 0

    chmod 0660 /dev/bcm_gps
    chown radio radio /dev/bcm_gps

    chown gps system /dev/ttyS3
    chmod 0770 /dev/ttyS3

    class_start default

    # allow user space (atx) access to kernel pm debug
    chown system system /sys/module/capri_pm_dbg/parameters/debug

    chown system system /dev/i2c-6
    chmod 0660 /dev/i2c-6

    chown root system /dev/proximity
    chmod 0660 /dev/proximity

    chown system system /sys/class/input/input2/enable
    chown system system /sys/class/input/input2/poll_delay
    chmod 0660 /sys/class/input/input2/enable
    chmod 0660 /sys/class/input/input2/poll_delay

    chown system system /sys/class/input/input3/enable
    chown system system /sys/class/input/input3/poll_delay
    chmod 0660 /sys/class/input/input3/enable
    chmod 0660 /sys/class/input/input3/poll_delay

    # SEC_PRODUCT_FEATURE_COMMON_USE_MULTISIM
    setprop ro.multisim.simslotcount 2

    # for multi csc
    chown radio radio /proc/LinuStoreIII/efs_info
    chmod 0664 /proc/LinuStoreIII/efs_info
    # for protecting key string
    chown radio radio /proc/LinuStoreIII/keystr
    chmod 0664 /proc/LinuStoreIII/keystr
    # for ril_prop
    chown radio radio /proc/LinuStoreIII/ril_prop
    chmod 0664 /proc/LinuStoreIII/ril_prop
    # for fsbuild_check
    chown radio radio /proc/LinuStoreIII/fsbuild_check
    chmod 0664 /proc/LinuStoreIII/fsbuild_check
    # for recovery_opts
    chown system radio /proc/LinuStoreIII/recovery_opts
    chmod 0664 /proc/LinuStoreIII/recovery_opts

    # Audio (Earjack)
    chown system radio /sys/class/audio/earjack/select_jack
    chown system radio /sys/class/audio/earjack/key_state
    chown system radio /sys/class/audio/earjack/state
    chown media system /sys/class/audio/earjack/reselect_jack

    # Permissions for touch
    chown system radio /sys/class/sec/tsp/cmd

    # Permissions for Touchkey
	chown system radio /sys/class/sec/sec_touchkey/touchkey_menu
	chown system radio /sys/class/sec/sec_touchkey/touchkey_back
	chown system radio /sys/class/sec/sec_touchkey/touchkey_threshold

    # Accy
    chown radio system /sys/devices/platform/bcmpmu_accy/jiglock

    # Permissions for Camera
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/rear/rear_flash
    chown system radio /sys/class/camera/rear/isp_core
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camtype

    # Switch Device
    chown system radio /sys/class/sec/switch/adc

    # Voice Solution
    copy /system/etc/DiamondVoice_NB.txt /data/DiamondVoice_NB.txt
    chmod 0777 /data/DiamondVoice_NB.txt
    copy /system/etc/DiamondVoice_WB.txt /data/DiamondVoice_WB.txt
    chmod 0777 /data/DiamondVoice_WB.txt
    copy /system/etc/DiamondVoice_Filter_NB.txt /data/DiamondVoice_Filter_NB.txt
    chmod 0777 /data/DiamondVoice_Filter_NB.txt
    copy /system/etc/DiamondVoice_Filter_WB.txt /data/DiamondVoice_Filter_WB.txt
    chmod 0777 /data/DiamondVoice_Filter_WB.txt
    copy /system/etc/DiamondVoice_SF_Filter_NB.txt /data/DiamondVoice_SF_Filter_NB.txt
    chmod 0777 /data/DiamondVoice_SF_Filter_NB.txt
    copy /system/etc/DiamondVoice_SF_Filter_WB.txt /data/DiamondVoice_SF_Filter_WB.txt
    chmod 0777 /data/DiamondVoice_SF_Filter_WB.txt
    insmod /system/lib/modules/VoiceSolution.ko

    # permission for HDMI audio path
    chown media audio /sys/class/hdmi_audio/hdmi_audio/hdmi_audio_set_ext

    # HDCP 2.x
    mkdir /data/system/hdcp2 0775 system system

    # h2k permission
    chown radio system /efs/redata.bin
    chmod 0644 /efs/h2k.dat
    mkdir /data/misc/radio/hatp 0775 radio system

on fs
    mount_all /fstab.capri_ss_baffin
    setprop ro.crypto.fuse_sdcard true

    # For NV Read/Write
    chown radio system /dev/block/mmcblk0p1
    chmod 0770 /dev/block/mmcblk0p1

    # Permissions for DVFS
    chown radio system /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_min_limit
    chmod 0660 /sys/power/cpufreq_table
    chmod 0660 /sys/power/cpufreq_max_limit
    chmod 0660 /sys/power/cpufreq_min_limit

    chown system system /sys/class/backlight/panel/auto_brightness
    chmod 0644 /sys/class/backlight/panel/auto_brightness

    ## Permissions for mDNIe
    chown system media_rw /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/outdoor
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/negative
    chown system system /sys/class/mdnie/mdnie/cabc

    # Switch Device
    chown system radio /sys/class/sec/switch/adc

on post-fs
    chown radio system /efs
    chmod 0771 /efs

# create filesystem if necessary
service setup_fs /system/bin/setup_fs \
            /dev/block/mmcblk0p17 \
            /dev/block/mmcblk0p11
    class core
    user root
    group root
    oneshot

#at_distributor for making file for factory.
service at_distributor /system/bin/at_distributor
	class main
	user root
	group root
	oneshot

# geomagneticd
service geomagneticd /system/bin/geomagneticd
    class main
    user compass
    group system input

service capri-ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild1 stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio system sdcard_rw log sdcard_r

# create virtual SD card at /storage/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -puse_p2p_group_interface=1 \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# Bluetooth PAN
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
	class main
	disabled
	oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# When the default SIM for data connections is updated,
# also update the DUN AT channel with the default SIM.
on property:persist.sys.dataprefer.simid=0
    write /data/atx/setsim.txt at*msetsim=1
    start set_simid

# When the default SIM for data connections is updated,
# also update the DUN AT channel with the default SIM.
on property:persist.sys.dataprefer.simid=1
    write /data/atx/setsim.txt at*msetsim=2
    start set_simid

# TODO: btld is only used for FM

service macloader /system/bin/macloader
	class main
	oneshot

on property:init.svc.macloader=stopped
    chown system root /data/.cid.info
    chmod 0664 /data/.cid.info
    chown system root /data/.rev
    chmod 0660 /data/.rev
# end of wifi

service gpsd /system/bin/glgps -c /system/etc/gps/glconfig.xml
    class late_start
    user gps
    group system sdcard_rw inet root radio wifi

# Run ATX over UART
service console_atx /system/bin/atx -l -d
    class main
    console
#    oneshot
    user system
    group vpn net_admin net_raw radio system sdcard_rw log mount

# tvserver
service tvserver /system/bin/tvserver
    class main
    user system
    group system root audio graphics
#
# to disable the tv-server from running, add the line below. in
# order to achieve lowest power usage associated with the hdmi
# detection regulator, the tv-server needs to be explicitely disabled
# as there is no other run time decision made otherwise by Android.
#
# disabled

# Run bkmgrd automatically on startup
service bkmgrd /system/bin/bkmgrd
    class main
    oneshot
    user root
    group radio system log

## Run atxd daemon, which needs group permissions to run in non-root mode.
#service atxd /system/bin/atxd
#    class main
#    user system
#    group input vpn net_admin net_raw radio system sdcard_rw

# Add VCLMK (Videocore Low Memory Killer) service
service vclmk /system/bin/vclmk -s
    class main
    user system
    group system root audio graphics

# When the default SIM for data connections is updated,
# also update the DUN AT channel with the default SIM.
service set_simid /system/bin/atx --fordev=ACM --runcmd=/data/atx/setsim.txt
    disabled
    oneshot
    user system
    group input vpn net_admin net_raw radio system sdcard_rw log mount

# Indicate boot complete to PM to complete PM initialization
on property:dev.bootcomplete=1
    write /sys/module/capri_pwr_mgr/parameters/pm_late_init 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/block/mmcblk0/queue/scheduler cfq

# Vibetonz
service immvibed /system/bin/immvibed
    class core
    user shell
    group shell
    oneshot

# fusewrapped external sdcard daemon running as media_rw (1023)
service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled
